html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: ;
    background: none;
}

.kalt {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: dimgrey;
    text-align: center;
}

.social {
    padding: 20px;
    text-align: center;
}

.button {
    background-color: darkgray;
    width: 160px;
    height: 22px;
    border-radius: 11px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.button:hover {
    background-color: rgb(45, 238, 81);
}

footer {
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
}

.hamburger {
    border: 0;
    background-color: transparent;
    font-size: 25px;
    margin-top: 35px;
}

img {
    padding: 25px;
    display: block;
    margin: auto;
    width: 350px;
}
